* {
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row-reverse; */
    /* flex-grow: <3>; */
    /* align-items: center; */
    /* align-content: center; */
    flex-wrap: wrap;
    border: 2px dashed red;
}

.container div {
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
}