@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

:root {
    --licorice: #0f1513;
    --ruby-red: #971424;
    --outer-space: #45514f;
    --dark-vanilla: #c6beae;
}

* {
    margin: 0px;
    padding: 0px;
    border:  0px;
}

.hero {
    background-color: var(--licorice);
    height: 550px;
    width: 100%;
}

.mainNav {
    background-color: var(--dark-vanilla);
    height: 50px;
    width: 100%;
}

.mainNav h1 {
    color: var(--ruby-red);
    font-family: 'Oswald', sans-serif;
    position: absolute;
    line-height: 10px;
    left: 250px;
    font-weight: 700;
}

.mainNav ul {
    list-style: none;
    position: absolute;
    left: 1000px;
    clear: both;
}

.mainNav ul li {
    font-family: 'Oswald', sans-serif;
    color: var(--outer-space);
    font-size: 14pt;
    display: inline-block;
    line-height: 50px;
    padding-right: 15px;
    font-weight: 300;
}

.mainNav ul li a {
    color: var(--outer-space);
    text-decoration: none;
}

.mainNav ul li a:hover {
    color: black;
    text-decoration: none;
}

.recNav {
    color: var(--dark-vanilla);
}

.recNav ul {
    display: flex;
    justify-content: space-around;
}

.recNav ul li {
    list-style: none;
    padding-right: 20px;
    display: inline;
    line-height: 50px;
}

.recNav ul li a {
    text-decoration: none;
    color: var(--dark-vanilla);
}

.recNav ul li a:hover {
    color: var(--licorice);
}

.rec {
    display: flex;
    justify-content: space-around;
}

.rec1 {
    background-color: var(--ruby-red);
    height: 50px;
    width: 650px;
    position: absolute;
    top: 500px;
    opacity: 0.7;
} 

.rec1:hover {
    opacity: 1;
    color: white;
}

.secondSection {
    background-color: var(--dark-vanilla);
    height: 600px;
    width: 100%;
}

.secondSection p {
    color: var(--ruby-red);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 25%;
    top: 625px;
    font-size: 14pt;
}

.imgSection {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
    flex-wrap: wrap;
}

.imgSection img {
    width: 350px;
    height: 200px;
    padding-left: 15px;
    padding-top: 15px;
}

.thirdSection {
    background-color: var(--ruby-red);
    height: 600px;
    width: 100%;
}

.thirdSection p {
    color: var(--dark-vanilla);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    position: absolute;
    left: 25%;
    top: 1250px;
}