* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #0f1922;
}

li a {
    display: block;
    color: #68838b;
    padding: 8px 16px;
    text-decoration: none;
}


/* Change the link color on hover */

li a:hover {
    background-color: #555;
    color: white;
}