* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #383838;
}

.search {
    padding-left: 10px;
    position: absolute;
    left: 85%;
    top: 40px;
    color: #2980b9;
    border-radius: 10px;
    border: 1px solid #2980b9;    
}

.navigation {
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: black;
}
  
ul {
    list-style: none;
    background-color: black;
    color: white;
    margin-top: 100px;
}
  
li {
    height: 100px;
    text-align: center;
    line-height: 100px;
}
  
.container-fluid {
    position: absolute;
    left: 15%;
    top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
}

.container-fluid div {
    width: 350px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 60px;
}

.container-fluid div:hover {
    background-color: black;
    width: 350px;
    height: 268px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.container-fluid div p {
    color: white;
}

  
  