@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  border: 0;
  @include box-sizing(border-box);
}

.slider_container {
    position: absolute;
    top: 750px;
    left: 525px;
    width: 500px;
    height: 300px;
    margin: 1.5em auto;
    overflow: hidden;
    z-index: 1000;
}
.slider {
    img {
      float: left;
    }
}


.header {
    background-image: url("_assets/01bike.jpg");
    background-size: 100% 100%;
    height: 600px;
}

.header p {
    font-size: 80pt;
    color: white;
    text-align: center;
    line-height: 600px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 8px;
}

.logo {
    position: absolute;
    left: 250px;
    top: 25px;
}

.nav {
    background-color: white;
    text-align: center;
    opacity: 0.85;
    height: 75px;
    line-height: 75px;
    width: 75%;
    margin: 0 auto;
}

.nav ul {
    margin-left: 400px;
}

.nav a {
    color: black;
}

.nav a:hover {
    text-decoration: none;
}

.nav ul li {
    display: inline-block;
    vertical-align: center;
    padding-right: 40px;
}

.nav img {
    padding-right: 10px;
    padding-left: 10px;
}

.features::after {
    margin-left: 15px;
    content: "|";
}

.design {
    background-color: #5c323e;
    width: 125px;
    height: 125px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    position: absolute;
    left: 20%;
    line-height: 125px;
    top: 550px;
    border: 3px solid #deb8bc;
}

.photography {
    background-color: #A52A45;
    width: 125px;
    height: 125px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    line-height: 125px;
    margin: 0 auto;
    position: absolute;
    left: 45%;
    top: 550px;
    border: 3px solid #deb8bc;
}

.branding {
    background-color: #e15e32;
    width: 125px;
    height: 125px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    position: absolute;
    left: 70%;
    line-height: 125px;
    top: 550px;
    border: 3px solid #deb8bc;
}

.design p,
.photography p,
.branding p {
    color: white;
    font-size: 34pt;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.design h3,
.branding h3 {
    text-align: center;
}

.photography h3 {
    text-align: center;
    clear: left;
    margin-left: -35px;
}

.designpopup {
    background-color: white;
    height: 300px;
    width: 300px;
    border-top: 1px solid #deb8bc;
    border-left: 1px solid #deb8bc;
    border-right: 1px solid #deb8bc;
    border-bottom: 4px solid #5c323e;
    position: absolute;
    left: 15%;
    top: 300px;
    text-align: center;
    visibility: hidden;
}

.designpic {
    border-bottom: 2px solid #5c323e;
}

.photopopup {
    background-color: white;
    height: 300px;
    width: 300px;
    border-top: 1px solid #deb8bc;
    border-left: 1px solid #deb8bc;
    border-right: 1px solid #deb8bc;
    border-bottom: 4px solid #A52A45;
    position: absolute;
    left: 39.5%;
    top: 300px;
    text-align: center;
    visibility: hidden;
}

.photopic {
    border-bottom: 2px solid #A52A45;
}

.brandingpopup {
    background-color: white;
    height: 300px;
    width: 300px;
    border-top: 1px solid #deb8bc;
    border-left: 1px solid #deb8bc;
    border-right: 1px solid #deb8bc;
    border-bottom: 4px solid #e15e32;
    position: absolute;
    left: 64.5%;
    top: 300px;
    text-align: center;
    visibility: hidden;
}

.brandingpic {
    border-bottom: 2px solid #e15e32;
}

hr.firsthr {
    width: 75%;
    position: absolute;
    top: 750px;
    left: 12.5%;
    border: 1px solid grey;
}

hr.secondhr {
    width: 75%;
    position: absolute;
    top: 1350px;
    left: 12.5%;
    border: 1px solid grey;
}

.blogs {
    height: 800px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 1100px;
}

.blogs {
    position: absolute;
}

.blogs h4 {
    position: absolute;
    top: 25px;
    left: 10%;
}

.blog1 {
    position: absolute;
    top: 125px;
    left: 15%;
}

.blog2 {
    position: absolute;
    top: 425px;
    left: 15%;
}

.blog3 {
    position: absolute;
    top: 125px;
    left: 52%;
}

.blog4 {
    position: absolute;
    top: 425px;
    left: 52%;
}

.blogger1 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 15%;
    top: 300px;
}

.blogger2 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 52%;
    top: 300px;
    z-index: 2;
}

.blogger3 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 15%;
    top: 600px;
}

.blogger4 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 52%;
    top: 600px;
}

.matahealy {
    position: absolute;
    top: 675px;
    left: 59%;
}

.bradgrosh {
    position: absolute;
    top: 375px;
    left: 59%;
}

.patrickpool {
    position: absolute;
    top: 375px;
    left: 22%;
}

.tomjames {
    position: absolute;
    top: 675px;
    left: 22%;
}

footer {
    background-color: #3a3a3a;
    height: 125px;
    width: 100%;
    position: absolute;
    top: 1900px;
    line-height: 125px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-right: 25px;
}

footer ul a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer ul img {
    margin-right: 10px;
    margin-left: 20px;
}