@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    width: 200px;
    background-color: #1c2b36;
    height: 100vh;
    position: fixed;
}

.search {
    width: 50%;
    height: 150px;
    background-color: #1c2b36;
    position: absolute;
}

.searchbar {
    position: absolute;
    background-color: #0f1922;
    border-radius: 10px;
    left: 15%;
    top: 20px;
    z-index: 1000;
}

input[type=text] {
    color: #68838b;
}

nav {
    width: 200px;
}

.main-ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #1c2b36;
}

.main-menu {
    list-style-type: none;
    margin-top: 100px;
    width: 200px;
    background-color: #1c2b36;
    visibility: visible;
}

.drop-menu {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #0f1922;
    visibility: hidden;
}

li a {
    display: block;
    color: #68838b;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}


/* Change the link color on hover */

li a:hover {
    background-color: #1c2b36;
    color: #68838b;
    text-decoration: none;
}

.hero-section {
    position: absolute;
    width: 100%;
    height: 475px;
    background: url('_assets/heroimg.png');
    top: 0px;
    z-index: -1;
}

.hero-ul {
    margin-left: 51%;
    line-height: 75px;
}

.hero-ul li {
    display: inline;
    font-size: 12pt;
    color: #68838b;
    margin-right: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.hero-text {
    color: white;
    height: 250px;
    width: 500px;
    position: absolute;
    left: 42%;
    font-size: 44pt;
    line-height: 450px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.hero-section div {
    width: 90%;
    height: 75px;
    background-color: #1c2b36;
    z-index: 2;
    position: absolute;
    top: 400px;
}

.info-div {
    height: 400px;
    background-color: white;
    position: absolute;
    top: 475px;
    width: 100%;
    z-index: -2;
}

.sleek-design {
    width: 200px;
    position: absolute;
    left: 30%;
    top: 25%;
    letter-spacing: 1px;
    color: #5addb6;
    text-align: center;
    line-height: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.buy {
    color: #5addb6;
    border-radius: 15px;
    padding: 3px 5px 3px 5px;
    border: 1px solid #5addb6;
    position: absolute;
    top: 120%;
    left: 30%;
    width: 80px;
}

.optimized {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 15%;
    letter-spacing: 1px;
    color: #68838b;
    text-align: center;
    line-height: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.details1 {
    background-color: #68838b;
    color: white;
    border-radius: 15px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top: 120%;
    left: 30%;
    width: 80px;
}

.modular {
    width: 200px;
    position: absolute;
    left: 70%;
    top: 25%;
    letter-spacing: 1px;
    color: #5addb6;
    text-align: center;
    line-height: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.details2 {
    color: #5addb6;
    border-radius: 15px;
    padding: 3px 5px 3px 5px;
    border: 1px solid #5addb6;
    position: absolute;
    top: 120%;
    left: 30%;
    width: 80px;
}

.gallery-div {
    position: absolute;
    top: 875px;
    width: 100%;
    height: 500px;
    background: url('_assets/gallerydiv.png');
    background-size: cover;
    opacity: 0.8;
    z-index: -2;
}

.gallery-div div {
    width: 75%;
    height: 75px;
    background-color: #5addb6;
    z-index: 2;
    position: absolute;
    left: 25%;
    top: 425px;
}

.gallery-div p {
    color: white;
    position: absolute;
    left: 48%;
    font-size: 44pt;
    line-height: 450px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.gallery-ul {
    margin-left: 27%;
    line-height: 75px;
}

.gallery-ul li {
    display: inline;
    font-size: 12pt;
    color: white;
    margin-right: 40px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.pictures-div {
    height: 500px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 1375px;
    z-index: -2;
}

.work-div {
    height: 500px;
    width: 100%;
    background: url("_assets/workheader.png");
    position: absolute;
    top: 1875px;
    z-index: -2;
}

.work-div div {
    width: 90%;
    height: 75px;
    background-color: #b2c5cb;
    z-index: 2;
    position: absolute;
    top: 425px;
}

.work-div p {
    color: white;
    position: absolute;
    left: 48%;
    font-size: 44pt;
    line-height: 450px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.work-ul {
    margin-left: 54%;
    line-height: 75px;
    height: 75px;
    background-color: #b2c5cb;
}

.work-ul li {
    display: inline;
    font-size: 12pt;
    color: white;
    margin-right: 25px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}