@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    height: 450px;
    background-image: url('_assets/Greenland-header.png');
}

header .headline {
    clear: both;
    font-size: 30pt;
    position: absolute;
    top: 285px;
    left: 78%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 10px;
    font-size: 38pt;
}

.destination {
    color: white;
    position: absolute;
    top: 350px;
    left: 85%;
}

.header-aside {
    width: 300px;
    height: 450px;
    background-color: #3976ad;
    opacity: 0.7;
    position: absolute;
    left: -300px;
}

.navbar {
    width: 100px;
    height: 475px;
    background-color: #304d5d;
    opacity: 1;
    position: absolute;
    left: 300px;
    overflow: visible;
    z-index: 2;
}

.navbar nav {
    position: absolute;
    left: 38%;
    top: 25px;
}

.navbar nav ul {
    position: absolute;
    display: inline;
    text-decoration: none;
}

.navbar nav ul li {
    line-height: 85px;
    list-style-type: none;
}

.account {
    margin-left: -5px;
}

.asideimg {
    height: 100px;
    width: 100px;
    margin-left: 35%;
    opacity: 1.0;
    margin-top: 50%;
}

.travel-rates-header {
    background-image: url('_assets/travelrates.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 450px;
}

.flightrates {
    background-color: white;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 33%;
    color: black;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 3px 3px 2px #333;
}


.flightrates h1 {
    margin-top: 150px;
}

.flight-rate-plane {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 15%;
}

.skating {
    width: 250px;
    height: 300px;
    background-color: #088e87;
    background: -webkit-linear-gradient(bottom right, #01a59a, #0a8884);
    background: -moz-linear-gradient(bottom right, #01a59a, #0a8884);
    background: -o-linear-gradient(bottom right, #01a59a, #0a8884);
    background: linear-gradient(to top left, #01a59a, #0a8884);
    position: absolute;
    top: 200px;
    left: 52%;
}

.rooms {
    width: 200px;
    height: 300px;
    background-color: #79c378;
    background: -webkit-linear-gradient(bottom right, #7bc377, #56a68d);
    background: -moz-linear-gradient(bottom right, #7bc377, #56a68d);
    background: -o-linear-gradient(bottom right, #7bc377, #56a68d);
    background: linear-gradient(to top left, #7bc377, #56a68d);
    position: absolute;
    top: 200px;
    left: 67%;
}

.weather-div {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: white;
    top: 950px;
}

.weatherpic {
    height: 500px;
}

.seagull {
    position: absolute;
    top: 225px;
    left: 72%;
}

.degrees {
    font-size: 90pt;
    color: orange;
    position: absolute;
    left: 75%;
    top: 50px;
}

.location {
    position: absolute;
    top: 200px;
    left: 79%;
}

.now {
    position: absolute;
    top: 200px;
    left: 81%;
    font-size: 20pt;
}

.calendar-div {
    background-image: url('_assets/greenland-mountains.png');
    background-size: cover;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 1450px;
}


.calendar {
    position: absolute;
    left: 10%;
    top: 100px;
}

.playlogo {
    position: absolute;
    left: 55%;
    top: 100px;
}

.playlogo-in {
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 58.25%;
    border-radius: 50px;
}

.equalize {
    position: absolute;
    top: 400px;
    left: 51%;
}

.reverse {
    position: absolute;
    top: 400px;
    left: 56%;
}

.play {
    position: absolute;
    top: 400px;
    left: 61%;
}

.forward {
    position: absolute;
    top: 400px;
    left: 66%;
}

.shuffle {
    position: absolute;
    top: 400px;
    left: 71%;
}

.activities-div {
    background-image: url('_assets/activities-cover.png');
    position: absolute;
    top: 1950px;
    height: 500px;
    width: 100%;
    background-color: white;
}

.delight {
    position: absolute;
    left: 51%;
    color: #0176a2;
    font-size: 28pt;
    top: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.delight-para {
    position: absolute;
    line-height: 30px;
    left: 46.5%;
    top: 200px;
    font-size: 12pt;
    width: 500px;
    text-align: center;
}

.activities-div ul {
    display: inline-block;
    color: white;
    line-height: 40px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.activities-tab {
    width: 270px;
    height: 400px;
    background-color: #1ebeb4;
    position: absolute;
    left: 10%;
}

.activities-tab p {
    color: white;
    font-size: 20pt;
    margin-left: 40px;
    margin-top: 40px;
}

footer {
    position: absolute;
    top: 2450px;
    background-color: #193f48;
    height: 150px;
    width: 100%;
    opacity: 0.9;
}
footer nav {
    position: absolute;
    left: 14%;
    top: 50%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

footer ul {
    color: white;
    display: inline-block;
    text-align: center;
}

footer nav {
    width: 75%;
    margin: 0 auto;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

